@import '../../styles/index.scss';
 
.question {
    color: $gray1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .header  {
        flex: 1;
        margin: 10px;
        padding-top: 20px;

        h2 {
            font-size: 24px;
            font-weight: 500;
        }
        padding-bottom: 10px;
        @include breakpoint($sm) {
            padding-bottom: 20px;
        }
    }
    .body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        padding-bottom: 20px;
        #answerText {
            width: 90%;
            height: 80%;
            background-color: rgb(233, 235, 237);
            border-radius: 5px;
            padding: 10px;
            font: 1em sans-serif;
           
        }
        .checkBoxWrap {
            display: flex;
            justify-content: start;
            width: 90%;
            padding-bottom: 20px;

            // background-color: rgb(134, 119, 158);
            flex-wrap: wrap;
            .checkItem {
                // background-color: aqua;
                width: 200px;
                padding: 10px 0;
                // height: 30px;
                input {
                    margin-right: 5px;;
                }
            }
        }
    }
}